@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200&display=swap');

* {
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
    font-family: 'Fira Sans Condensed', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: white;
    border-radius: 5px;
    box-shadow: thistle;
    width: 400px;
}
h2{
    text-align: center;
    margin: 0 0 20px;
}
.form{
    padding: 30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    color: #777;
    display: block;
    margin-bottom: 5px;
}
.form-control input{
    border: 2px solid teal;
    border-radius: 5px;
    display: block;
    width: 300px;
    padding: 10px;
    font-size: 14px;
}
.form-control input:focus{
    outline: 0;
    border-color: turquoise;
}
.form-control.success input{
    border-color:green;
}
.form-control.error input{
    border-color: red;
}